Music Store System/catalog_19033674.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MusicStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Store">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Logo"/>
              <xs:element name="StoreName">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="storeID"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Address"/>
              <xs:element type="xs:int" name="TelephoneNumber"/>
              <xs:element type="xs:anyURI" name="Website"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Songs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Song" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Image">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="imageNumber" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SongName">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Language" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Singer">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Nationality" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Writers"/>
                    <xs:element type="xs:string" name="SongLength"/>
                    <xs:element type="xs:string" name="Genre"/>
                    <xs:element type="xs:string" name="Album"/>
                    <xs:element type="xs:string" name="FeaturedArtist"/>
                    <xs:element type="xs:float" name="ReleaseYear"/>
                    <xs:element type="xs:string" name="Director"/>
                    <xs:element type="xs:string" name="Producer"/>
                    <xs:element name="Awards">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Award" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="BackVocalist"/>
                  </xs:choice>
                  <xs:attribute type="xs:byte" name="songNumber" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>